.exchange-rate {
  padding-top: 20px;
  padding-bottom: 20px;
}


table {
  width: 100%;

  th {
    background-color: #283f59;
    color: white;
  }
  td{
    min-width: 25%;
    a {
      cursor: pointer;
      text-decoration: underline;
      color: blue;
    }
  }
}

.mat-form-field {
  font-size: 14px;
  // width: 100%;
}