// $navbar-dark-color:                 rgba($white, .55);

.navbar-dark {
    background-color: #283f59 !important;
}

.container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.container-fluid {
    width: 100%;
}

.navbar-brand {
    .logo {
        height: 48px;;
    }
}